{% extends 'accounts/base.html' %}
{% load month_name %}
{% load progress %}

{% block title %}
Dashboard | Open Risk Assessments
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">
    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div
            class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Open Risk Assessments</h1>
                    <a href="{% url 'AddRiskAssessment' %}" class="btn btn-primary">Add</a>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        {% if riskassessments %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-4" scope="col">Product</th>
                                    <th class="col-md-2" scope="col">RA Number</th>
                                    {% comment %} <th class="col-md-2" scope="col">Score</th> {% endcomment %}
                                    <th class="col-md-2" scope="col">Date Added</th>
                                    <th class="col-md-2" scope="col"><div class="d-flex justify-content-center">Steps Completed (out of 14)</div></th>
                                    <th class="col-md-2" scope="col"><div class="d-flex justify-content-center">Actions</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for riskassessment in riskassessments %}
                                <tr>
                                    <th scope="row">{% if riskassessment.steps_complete >= 2 %}<a
                                            href="{% url 'RiskAssessmentDetail' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                            style="text-decoration: none">{% endif %}{{riskassessment.product}}{% if riskassessment.steps_complete > 2 %}</a>{% endif %}</th>

                                    <td>
                                        {{riskassessment.ra_number}}
                                    </td>
                                    {% comment %} <td>
                                        {% if riskassessment.total_score == None %}
                                        Not Assessed Yet.
                                        {% else %}
                                        {{riskassessment.total_score}}
                                        {% endif %}
                                    </td> {% endcomment %}
                                    <td>
                                        {{riskassessment.date.month|month_name}} {{riskassessment.date.day}},
                                        <strong>{{riskassessment.date.year}}</strong>
                                    </td>
                                    <td>
                                        <div class="progress" style="height: 30px;">
                                            <div class="progress-bar" role="progressbar"
                                                style="width: {{riskassessment.steps_complete|progress}}%">
                                                {{riskassessment.steps_complete}}</div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class='col d-flex align-items-center justify-content-center'>
                                            {% if riskassessment.steps_complete == 0 %}
                                            <a href="{% url 'step1' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Start</a>
                                            {% elif riskassessment.steps_complete == 1 %}
                                            <a href="{% url 'step2' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 2 %}
                                            <a href="{% url 'step3' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 3 %}
                                            <a href="{% url 'step4' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 4 %}
                                            <a href="{% url 'step5' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 5 %}
                                            <a href="{% url 'step6' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 6 %}
                                            <a href="{% url 'step7' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 7 %}
                                            <a href="{% url 'step8' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 8 %}
                                            <a href="{% url 'step9' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 9 %}
                                            <a href="{% url 'step10' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 10 %}
                                            <a href="{% url 'step11' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 11 %}
                                            <a href="{% url 'step12' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 12 %}
                                            <a href="{% url 'step13' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 13 %}
                                            <a href="{% url 'step14' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}"
                                                class="btn btn-primary" style="width: 75%">Continue</a>
                                            {% elif riskassessment.steps_complete == 14 and riskassessment.evaluated == False %}
                                            <a href="{% url 'EvaluateRiskAssessment' ra_id=riskassessment.id %}" class="btn btn-primary" style="width: 75%">Evaluate</a>
                                            {% elif riskassessment.steps_complete == 14 and riskassessment.evaluated == True %}
                                            <a href="{% url 'GenReport' slug=riskassessment.product.slug p_id=riskassessment.product.id ra_id=riskassessment.id %}" class="btn btn-success" style="width: 75%">View Report</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1 class="display-6 d-flex align-items-center justify-content-center">No Risk Assessments
                            exist.</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}