{% extends 'accounts/base.html' %}

{% block title %}
Dashboard | Users
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">
    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div
            class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Risk Analysts</h1>
                    <a href="#" class="btn btn-primary">Add</a>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        {% if ras %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-4" scope="col">Name</th>
                                    <th class="col-md-8" scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ra in ras %}
                                <tr>
                                    <th scope="row">{{ra.fname}} {{ra.lname}}</th>
                                    <td><a href="mailto:{{ra.email}}" style="text-decoration: none">{{ra.email}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1 class="display-6 d-flex align-items-center justify-content-center">No Risk Analyst accounts
                            exist.</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:30px">
        </div>
        <div class="row row-cols-2">
            <div class="col">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Department Users</h1>
                    <a href="{% url 'register-dept-user' %}" class="btn btn-primary">Add</a>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        {% if dept_users %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md" scope="col">Name</th>
                                    <th class="col-md" scope="col">Email</th>
                                    <th class="col-md" scope="col">Phone</th>
                                    <th class="col-md" scope="col">Department</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dept_user in dept_users %}
                                <tr>
                                    <th scope="row" class="{% if dept_user.user.has_setpsd == False %} text-danger {% endif %}">{{dept_user.user.fname}} {{dept_user.user.lname}}</th>
                                    <td><a href="mailto:{{dept_user.user.email}}" style="text-decoration: none">{{dept_user.user.email}}</a></td>
                                    <td>+1 {{dept_user.phone}}</td>
                                    <td>{{dept_user.department}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1 class="display-6 d-flex align-items-center justify-content-center">No Department User
                            accounts exist.</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Vendor Users</h1>
                    <a href="{% url 'register-vend-user' %}" class="btn btn-primary">Add</a>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-12">
                        {% if vend_users %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md" scope="col">Name</th>
                                    <th class="col-md" scope="col">Email</th>
                                    <th class="col-md" scope="col">Phone</th>
                                    <th class="col-md" scope="col">Vendor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vend_user in vend_users %}
                                <tr>
                                    <th scope="row" class="{% if dept_user.user.has_setpsd == False %} text-danger {% endif %}">{{vend_user.user.fname}} {{vend_user.user.lname}}</th>
                                    <td><a href="mailto:{{vend_user.user.email}}" style="text-decoration: none">{{vend_user.user.email}}</a></td>
                                    <td>+1 {{vend_user.phone}}</td>
                                    <td> {{vend_user.vendor}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1 class="display-6 d-flex align-items-center justify-content-center">No Vendor User accounts
                            exist.</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </main>
</div>
{% endblock %}