{% extends 'accounts/base.html' %}
{% load index_acc %}

{% block title %}
Dashboard | Department | {{department.name}}
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">
    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div
            class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{department.name}}</h1>
                </div>
                <div class="row row-col-2">
                    <div class="col">
                        <h1 class="h3">Department Details</h1>
                        <hr class="dropdown-divider">
                        <div class="row">
                            <label class="col-3 col-form-label"><strong>Department Location</strong></label>
                            <label class="col-9 col-form-label">{{department.location}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <h1 class="h3">Department Users</h1>
                        <hr class="dropdown-divider">
                        <div class="row">
                            <div class="col-md-12">
                                {% if users %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4" scope="col">Name</th>
                                            <th class="col-md-4" scope="col">Phone</th>
                                            <th class="col-md-4" scope="col">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <th scope="row">{{user.user.fname}} {{user.user.lname}}</th>
                                            <td scope="row">{{user.phone}}</td>
                                            <td scope="row"><a href="mailto:{{user.user.email}}" style="text-decoration: none">{{user.user.email}}<a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h1 class="display-6 d-flex align-items-center justify-content-center">No Departments
                                    exist.</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-col-2">
                    <div class="col-6">
                        <h1 class="h3">Products Used</h1>
                        <hr class="dropdown-divider">
                        <div class="row">
                            {% if products %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-8" scope="col">Product Name</th>
                                            <th class="col-md-4" scope="col">Vendor</th>
                                            {% comment %} <th class="col-md-4" scope="col">Email</th> {% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr>
                                            <th scope="row"><a href="{% url "ViewProduct" pk=product|index_acc:3 slug=product|index_acc:2 %}" style="text-decoration: none">{{product|index_acc:0}}</a></th>
                                            <td scope="row">{{product|index_acc:1}}</td>
                                            {% comment %} <td scope="row"><a href="mailto:{{user.user.email}}" style="text-decoration: none">{{user.user.email}}<a></td> {% endcomment %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h1 class="display-6 d-flex align-items-center justify-content-center">No Departments
                                    exist.</h1>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}