{% extends 'accounts/base.html' %}
{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">
    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col-8">
                <h1 class="h1">Risk Assessment - {{prod.name}} - {{ra.ra_number}}</h1>
            </div>

            {% if ra.evaluated == True %}
            <div class="col-4 d-flex justify-content-end">
                {% if ra.approved == True %}<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="left" title="Risk Assessment already Approved.">{% endif %}
                {% if request.user.is_staff and not request.user.is_superuser %}<a href="{% url 'ApproveRA' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}" class=" me-2 btn {% if ra.approved == True %}btn-success{% else %}btn-warning{% endif %} {% if ra.approved == True %}disabled{% endif %}"><span style="font-size: 1em"><i class="far fa-check-circle"></i></span>&nbsp;Approve</a>{% endif %}
                {% if ra.approved == True %}</span>{% endif %}
                {% if ra.approved == False %}<a href="{% url 'EvaluateRiskAssessment' ra_id=ra.id  %}" class="me-2 btn btn-primary {% if ra.steps_complete != 14 %}disabled{% endif %}"><span style="font-size: 0.8em"><i class="fas fa-redo-alt"></i> </span>&nbsp; Re-Evaluate</a>{% endif %}
                <a href="{% url 'GenReport' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id  %}" class="btn btn-success d-flex align-items-center justify-content-between"><span style="font-size: 0.8em"><i class="far fa-eye"></i></span>&nbsp; View Report</a>
            </div>
            {% endif %}
            {% if ra.evaluated == False  %}
            {% if ra.steps_complete != 14 %}<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="left" title="Complete all Risk Assessment Sections first.">{% endif %}
            <a href="{% url 'EvaluateRiskAssessment' ra_id=ra.id  %}" class="btn btn-primary {% if ra.steps_complete != 14 %}disabled{% endif %}">Evaluate</a>
            {% if ra.steps_complete != 14 %}</span>{% endif %}
            {% endif %}
        </div>
        <div class="pb-2 mb-3 border-bottom">
            <div class="row row-col-2">
                <div class="col border-end border-2">
                    <h1 class="h2">Product Details</h1>
                    <hr class="dropdown-divider">
                    <div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label"><strong>Product
                                    Name</strong></label>
                            <div class="col-sm-8">
                                <div>
                                    <label class="col col-form-label">{{prod.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label"><strong>Product
                                    Purpose</strong></label>
                            <div class="col-sm-8">
                                <div>
                                    <label class="col col-form-label">{{prod.purpose}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label"><strong>Requesting Department</strong></label>
                            <div class="col-sm-8">
                                <div>
                                    <label class="col col-form-label">{{ra.department}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <h1 class="h2">Risk Assessment</h1>
                    <hr class="dropdown-divider">
                    <div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Department Information</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <label class="col col-form-label"><span style="color: green"><ion-icon name="checkmark-done-outline"></ion-icon></span> Filled</label>
                                {% if ra.approved != True %}
                                <a href="{% url 'step1' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp; Edit</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Vendor Information</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <label class="col col-form-label"><span style="color: green"><ion-icon name="checkmark-done-outline"></ion-icon></span> Filled</label>
                                {% if ra.approved != True %}
                                <a href="{% url 'step2' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp; Edit</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Data
                                    Management</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if data_mng == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{data_mng}}
                                    </label>
                                </div>    
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if data_mng_score != -1 %}
                                    {% if data_mng_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif data_mng_score < 90 and data_mng_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                <div>
                                    <a href="{% url 'step3' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                        class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if data_mng == "Not Filled" %}Start{% elif data_mng == "Filled" %} Edit{% endif %}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Availability &
                                    Criticality</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if a_c == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{a_c}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if a_c_score != -1 %}
                                        {% if a_c_score >= 90 %}
                                            <button type="button" class="btn btn-danger btn-score">High</button>
                                        {% elif a_c_score < 90 and a_c_score >= 51 %}
                                            <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                            <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if data_mng == "Filled" %}
                                <a href="{% url 'step4' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if a_c == "Not Filled" %}Start{% elif a_c == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Compliance</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if comp == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{comp}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if comp_score != -1 %}
                                    {% if comp_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif comp_score < 90 and comp_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if a_c == "Filled" %}
                                <a href="{% url 'step5' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if comp == "Not Filled" %}Start{% elif comp == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Security Maturity
                                    Evidence</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if sec_mat == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{sec_mat}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if sec_mat_score != -1 %}
                                    {% if sec_mat_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif sec_mat_score < 90 and sec_mat_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if comp == "Filled" %}
                                <a href="{% url 'step6' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if sec_mat == "Not Filled" %}Start{% elif sec_mat == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Integration</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if inte == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{inte}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if inte_score != -1 %}
                                    {% if inte_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif inte_score < 90 and inte_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if sec_mat == "Filled" %}
                                <a href="{% url 'step7' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if inte == "Not Filled" %}Start{% elif inte == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Cloud Service
                                    Model</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if csm == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{csm}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if csm_score != -1 %}
                                    {% if csm_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif csm_score < 90 and csm_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if inte == "Filled" %}
                                <a href="{% url 'step8' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if csm == "Not Filled" %}Start{% elif csm == "Filled" %}Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}                                    
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Secure Design</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if sd == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{sd}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if sd_score != -1 %}
                                    {% if sd_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif sd_score < 90 and sd_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if csm == "Filled" %}
                                <a href="{% url 'step9' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if sd == "Not Filled" %}Start{% elif sd == "Filled" %}Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}                                    
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Encryption</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if enc == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{enc}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if enc_score != -1 %}
                                    {% if enc_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif enc_score < 90 and enc_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if sd == "Filled" %}
                                <a href="{% url 'step10' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if enc == "Not Filled" %}Start{% elif enc == "Filled" %}Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}                                    
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Quality Assurance
                                    Environment</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if qa == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{qa}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if qa_score != -1 %}
                                    {% if qa_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif qa_score < 90 and qa_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if enc == "Filled" %}
                                <a href="{% url 'step11' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if qa == "Not Filled" %}Start{% elif qa == "Filled" %}Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Database
                                    Servers</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                    
                                        {% if dbserver == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{dbserver}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if dbserver_score != -1 %}
                                    {% if dbserver_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif dbserver_score < 90 and dbserver_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if qa == "Filled" %}
                                <a href="{% url 'step12' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if dbserver == "Not Filled" %}Start{% elif dbserver == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Secure
                                    Communications</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if sec_comm == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{sec_comm}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if sec_comm_score != -1 %}
                                    {% if sec_comm_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif sec_comm_score < 90 and sec_comm_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if dbserver == "Filled" %}
                                <a href="{% url 'step13' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if sec_comm == "Not Filled" %}Start{% elif sec_comm == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-5 col-form-label"><strong>Software
                                    Integrity</strong></label>
                            <div class="col-sm-7 pb-2 d-flex justify-content-between">
                                <div>
                                    <label class="col col-form-label">
                                        {% if sw_inte == "Filled" %}
                                        <span style="color: green">
                                            <ion-icon name="checkmark-done-outline"></ion-icon>
                                        {% else %}
                                        <span style="color: red">
                                            <ion-icon name="close-outline"></ion-icon>
                                        {% endif %}
                                        </span>
                                        {{sw_inte}}
                                    </label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    {% if sw_inte_score != -1 %}
                                    {% if sw_inte_score >= 90 %}
                                    <button type="button" class="btn btn-danger btn-score">High</button>
                                    {% elif sw_inte_score < 90 and sw_inte_score >= 51 %}
                                        <button type="button" class="btn btn-warning btn-score">Medium</button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-score">Low</button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                {% if ra.approved != True %}
                                {% if sec_comm == "Filled" %}
                                <a href="{% url 'step14' slug=ra.product.slug p_id=ra.product.id ra_id=ra.id %}"
                                    class="btn btn-primary d-flex align-items-center"><span style="font-size: 0.8em"><i class="far fa-edit"></i></span>&nbsp;  {% if sw_inte == "Not Filled" %}Start{% elif sw_inte == "Filled" %} Edit{% endif %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h1 class="h2">Users</h1>
                    <hr class="dropdown-divider">
                    <div class="mb-1 row py-1">
                        <label class="col-sm-6 col-form-label"><strong>Risk Analyst</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{ra.ra}}</label>
                            <label class="col-sm-6 col-form-label">{{ra.ra.email}}</label>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>Main Project Contact
                                (Dept)</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{dept_info.mpc}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{dept_info.mpc.phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{dept_info.mpc.user.email}}">{{dept_info.mpc.user.email}}</a></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>Technical Administrator
                                Contact</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{dept_info.ta_dept}}</label>
                            <label class="col-sm-6 col-form-label">{{dept_info.ta_name}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{dept_info.ta_phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{dept_info.ta_email}}">{{dept_info.ta_email}}</a></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>End-User Requestor
                                Contact</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{dept_info.eur_dept}}</label>
                            <label class="col-sm-6 col-form-label">{{dept_info.eur_name}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{dept_info.eur_phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{dept_info.eur_email}}">{{dept_info.eur_email}}</a></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>Data Steward</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{dept_info.ds_dept}}</label>
                            <label class="col-sm-6 col-form-label">{{dept_info.ds_name}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{dept_info.ds_phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{dept_info.ds_email}}">{{dept_info.ds_email}}</a></label>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>Vendor Primary Contact</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{vend_info.mpc_name}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{vend_info.mpc_phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{vend_info.mpc_email}}">{{vend_info.mpc_email}}</a></label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6 col-form-label"><strong>Vendor Technical
                                Contact</strong></label>
                        <div class="col-sm-6">
                            <label class="col-sm-6 col-form-label">{{vend_info.tc_name}}</label>
                            <label class="col-sm-6 col-form-label">+1 {{vend_info.tc_phone}}</label>
                            <label class="col-sm-6 col-form-label"><a
                                    href="mailto:{{vend_info.tc_email}}">{{vend_info.tc_email}}</a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</div>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
</script>
{% endblock %}