{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center" style="height: 100vh">
        <img src="{% static '/images/Sentinel_bl.png' %}" height="300px">
    </div>
    <div class="col-6 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <h1 class="display-3 text-white">Reset Password</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <div class="input-group input-group-lg">
                                {{form.email}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <input type="submit" name="Create User" value="Submit" class="btn btn-secondary text-nowrap" style="width: 100%">
                            <a href="{% url "login" %}" class="btn btn-primary">Login</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}
