{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Set New Password
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center" style="height: 100vh">
        <img src="{% static '/images/Sentinel_bl.png' %}" height="300px">
    </div>
    <div class="col-6 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh">
    {% if validlink %}
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <h1 class="display-3 text-white">Set New Password</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <div class="input-group input-group-lg">
                                {{form.new_password1}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <div class="input-group input-group-lg">
                                {{form.new_password2}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <input type="submit" name="Create User" value="Change Password" class="btn btn-primary text-nowrap" style="width: 100%">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <div class="input-group input-group-lg">
                                {{form.errors}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        {% else %}
        <table>
                <tr>
                    <td>
                        <h1 class="display-3 text-white">Invalid Password Reset Link</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="lead text-white">The password reset link was invalid, possibly because it has already been used.</p>
                        <p class="lead text-white">Please request a new password reset.</p>
                    </td>
                </tr>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
