{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Password Reset Complete
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center" style="height: 100vh">
        <img src="{% static '/images/Sentinel_bl.png' %}" height="300px">
    </div>
    <div class="col-6 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="row row-cols-1 d-flex justify-content-center">
            <div class="col-12">
                <form method="POST" action="">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>
                                <h1 class="display-5 text-white">Password Reset Complete</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-12 mx-auto">
                                    <p class="lead text-white">
                                        
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-12 mx-auto">
                                    <p class="lead text-white">
                                        Your new password has been set. You can log in.
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-12 mx-auto">
                                    <p class="lead text-white">
                                        
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <div class="col-4">
                    <div class="d-grid gap-2">
                        <a href="{% url "login" %}" class="btn btn-primary">Login</a>
                    <div>
                <div>
            <div>
        </div>
    </div>
</div>

{% endblock %}
