{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Dashboard | Risk Assessment | {{riskassessment.product.name}}
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">

    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
        <div
            class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col-8">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Risk Assessment - {{riskassessment.product.name}}</h1>
                    {% comment %} <a href="#" class="btn btn-primary">Add User</a> {% endcomment %}
                </div>
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: {{progress}}%"></div>
                </div>
                <br>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h4">Security Maturity Evidence</h1>
                </div>
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group row d-none">
                        <label class="col-3 col-form-label">{{form.riskassessment.name}}</label>
                        <div class="col-9">
                            {{form.riskassessment}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-9 col-form-label">Industry standard cybersecurity framework(s) attestation of
                            compliance. FedRAMP, ISO 27001/2, CIS Controls, NIST 800-53, CSA CCM, HITRUST,
                            HECVAT</label>
                        <div class="col-3">
                            <div>
                                <div class="inp d-flex justify-content-endut-group mb-3 d-flex justify-content-end">
                                    {{form.attst_o_comp|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-9 col-form-label">Current system’s vendor 3rd party SOC2 Type 2
                            reports</label>
                        <div class="col-3 d-flex justify-content-end">
                            {{form.soc2_reports|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-9 col-form-label">Annual penetration/vulnerability scanning results of all
                            system components</label>
                        <div class="col-3 d-flex justify-content-end">
                            {{form.ann_pen_scan_results|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-9 col-form-label">Annual web application vulnerability scan of all system web
                            applications</label>
                        <div class="col-3 d-flex justify-content-end">
                            {{form.ann_wa_vuln_scan|as_crispy_field }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row {% if inst and inst.score != 0 %} {% else %} d-none {% endif %}">
                        <label class="col-2 col-form-label">Comment</label>
                        <div class="col-10 d-flex justify-content-end">
                            {{form.comment}}
                        </div>
                    </div>
                    <br>
                    <input type="submit" name="Add Product" value="Next" class="btn btn-primary">
                    {{form.errors|striptags}}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}