{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Dashboard | Risk Assessment | {{riskassessment.product.name}}
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">

    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
        <div
            class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col-8">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Risk Assessment - {{riskassessment.product.name}}</h1>
                    {% comment %} <a href="#" class="btn btn-primary">Add User</a> {% endcomment %}
                </div>
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: {{progress}}%"></div>
                </div>
                <br>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h4">Department Information</h1>
                </div>
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group row d-none">
                        <label for="inputPassword" class="col-3 col-form-label">{{form.riskassessment.label}}</label>
                        <div class="col-9">
                            {{form.riskassessment}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label">{{form.mpc.label}}</label>
                        <div class="col-9">
                            {{form.mpc}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label">Technical Administrator Contact</label>
                        <div class="col-9">
                            {{form.ta_dept}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ta_name}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ta_email}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ta_phone}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label">End-User Requestor Contact</label>
                        <div class="col-9">
                            {{form.eur_dept}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.eur_name}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.eur_email}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.eur_phone}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label">Data Steward Contact</label>
                        <div class="col-9">
                            {{form.ds_dept}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ds_name}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ds_email}}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-3 col-form-label"></label>
                        <div class="col-9">
                            {{form.ds_phone}}
                        </div>
                    </div>
                    <br>
                    <input type="submit" name="Add Product" value="Next" class="btn btn-primary">
                    {{form.errors|striptags}}
                </form>

            </div>
        </div>


    </main>
</div>
{% endblock %}