{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="row" style="height: 59px">

</div>
<div class="row">
    <!-- Admin SideBar -->
    {% include "dashboard/admin-sidebar.html" %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <div class="row pb-2 mb-3 border-bottom">
            <h1 class="h1">Home{{prod.name}}</h1>
        </div>
        <div class="row row-col-2 pb-2 mb-3 border-bottom" style="height: calc(100vh - 172px)">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="{% static '/images/Sentinel_bl.png' %}" width="300px">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="card border-light" style="width: 40rem;">
                    <div class="card-body">
                        <h2 class="card-title">{{request.user.fname}},</h2>
                        <h4 class="card-subtitle mb-2 text-muted">Welcome to Sentinel</h4>
                        <p></p>
                        <p class="card-text">View and Add Users, Products, Departments and Vendors.</p>
                        <p class="card-text">Perform Security Risk Assessments.</p>
                        {% comment %} <p class="card-text">Evaluate Risk Scores</p> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
{% endblock %}