{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="row">
    <div class="" id="layer-top">
        <h1 class="display-4 text-white">Sign Up</h1>
        <h1 class="display-6 text-white">I am a ...</h1>
    </div>
    <div class="col-4 bg-light bg-gradient d-flex justify-content-center align-items-center" style="height: 100vh">
        <img src="{% static '/images/Sentinel_bl.png' %}" height="300px">
    </div>
    <div class="col-4 bg-secondary bg-gradient d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="card bg-transparent" style="width: 18rem;">
            <img class="card-img-top relative-parent" src="{% static 'images/department.png' %}" alt="Card image cap">
            <div class="card-body relative">
                <h4 class="display-4">Department</h4>
            </div>
        </div>
    </div>
    <div class="col-4 bg-dark bg-gradient d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="card bg-transparent" style="width: 18rem;">
            <img class="card-img-top relative-parent" src="{% static 'images/vendor.png' %}" alt="Card image cap">
            <div class="card-body relative">
                <h4 class="display-4">Vendor</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% comment %} <body id="body">
    <div class="login-parent-div">
        <!-- <img src="{% static '/images/auth-bg.jpg' %}" class="auth-bg">  -->
        <div class="dimmer">
            <div class="login-logo-div">
                <img src="{% static '/images/Sentinel_bl.png' %}" class="sentinel-logo">
            </div>
            <div class="login-form-div">
                <table border="0">
                    <tr>
                        <td colspan="2">
                            <h1>Sign Up</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h2>I am a...</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'dept_signup' %}" class="btn-link">
                                <div class="buttond button1">
                                    <p class="btn link">Department</p>
                                    <img src="{% static '/images/department.png' %}" class="btn img">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'vend_signup' %}" class="btn-link">
                                <div class="buttond button1">
                                    <p class="btn link">Vendor</p>
                                    <img src="{% static '/images/vendor.png' %}" class="btn img">
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{% url " login" %}" class="login-form-submit">Login</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body> {% endcomment %}